*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%   ;
    background: linear-gradient(to bottom,  #2d00d1, #000000);
    font-family: 'Roboto Mono', monospace;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 10px;
    color: rgb(0, 255, 0);
    font-size: 35px;
    margin-bottom: 0;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 255, 221);
    font-size: 15px;
}

td {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    font-size: 80px;
    border: 2px solid yellow;
    margin-top: 100px;
    transition: 0.4s;
    text-align: center;
    color: rgb(255, 0, 0);
}

td:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.2);
}

.button{
    padding: 10px;
    font-size: 10px;
    border: 8px solid;
    border-image: linear-gradient(45deg, red, green, blue);
    border-image-slice: 1;
    animation: moveBorder 5s linear infinite alternate;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;  

}

a{   
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 1s;
    padding: 16px;
    border-radius: 20px;
}

a:hover {
    background: rgba(0, 0, 0, 0.2);
}

@keyframes moveBorder {
    from {
      border-image-source: linear-gradient(45deg, red, green, blue);
    }
    to {
      border-image-source: linear-gradient(45deg, blue, red, green);
    }
}

h3{
    display: flex;
    color: aliceblue;
    margin-right: 30px;
}
.players{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.addPonitsPlayer{
    margin-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}